*{
    box-sizing: border-box;
}
body{
    /* background-color:rgb(105, 145, 231); */
    width: 90vw;
    height: 100vh;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-y: scroll; */
}

.about-image img{
width: 100%;

}
  
  a img.logo {
  width: 25%;
}
  footer p {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
li a:hover{
    background-color: white;
    color: rgb(105, 145, 231);
    transition: 0.3s;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 124, 126);
    height: 175px;
    width: 100vw;
    margin-left: -58px;
    margin-right: -90px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}
.footer-nav ul{
   display: flex;
   margin: 10px;
   justify-content: space-around;
     

}
footer ul li {
    list-style: none;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.socials ul li{
    display: flex;
    align-items: center;
    text-align: center;
}
.socials1{
display: flex;
align-items: center;
justify-content: center;
margin-right: 40px;
}
.socials1 img{
    width: 30px;    

}
.copyright{
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 20px;
}


h1 {
  color: rgb(45, 98, 212);
  font-weight: 800;
  text-align: left;
  padding: 10px auto;
  font-size: 40px;
}

h3 {
  color: rgb(38, 38, 236);
  padding: 10px 0;
}
h2 {
  color: rgb(38, 38, 236);
  text-align: left;
  font-weight: 700;
}
/* new header */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-color: rgb(105, 145, 231);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-height: 60px;
}

.nav {
    transition: all 0.4s ease-in-out;
}
.nav-list {
  display: flex;
  column-gap: 30px;
}
.nav-item {
}
.nav-link {
  color: white;
  font-size: 15px;
  transition: all 0.4s;
}
.nav-link:hover,
.nav-link:focus {
  /* color: rgba(255,255,255,1); */
  color: rgb(34, 93, 219);
  /* transition: all 0.4s; */
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  height: 2px;
  width: 27px;
  background: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.nav--open {
  transform: translate(0) !important;
}
.hamburger--open .bar:nth-child(1){
transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2){
opacity: 0;
}
.hamburger--open .bar:nth-child(3){
transform: translateY(-7px) rotate(-45deg);
}
/* end of header */

@media (max-width: 650px) {
  body{
    padding-top: 120px;
    margin: 0 auto;
    font-size: 15px;
    /* word-break:keep-all; */
    overflow-x: scroll;
  }
  a img.logo {
  width: 18%;
}
/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-height: 40px;
} */
  .center-image {
  display: flex;
  flex-direction: column;
}
  .nav {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: rgb(105, 145, 231);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .nav-link {
    font-size: 14px;
  }
  .hamburger {
    display: block;
  }
  main{
    /* display: none; */
  }
  footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(123, 124, 126);
  height: 172px;
  width: 100%;
  margin-left: 0px;
  margin-right: -190px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  /* overflow-x: hidden; */
}
  footer p {
  font-size: 12px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
hr{
    color: white;
}
li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/* footer */
/* footer p{
    font-size: 16px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
} */
/* footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 124, 126);
    height: 180px;
    width: 100vw;
    margin-left: -60px;
    margin-right: -150px;
    margin-top: 20px;
    margin-bottom: 10px;
} */
.footer-nav ul{
   display: flex;
   margin: 10px;
   justify-content: space-around;
     

}
footer ul li {
    list-style: none;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.socials ul li{
    display: flex;
    align-items: center;
    text-align: center;
}
.socials1{
display: flex;
align-items: center;
justify-content: center;
margin-right: 40px;
}
.socials1 img{
    width: 30px;    

}
.copyright{
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

}