*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    position: relative;
}
.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
a:hover{
    background: #2a5ece;
    color: #fff;
    transition: background 0.5s;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0  30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
p{
    color:#555;
    line-height: 24px;
}
.col-two{
    flex-basis: 50%;
    min-width: 300px;
}
.col-two img{
    width: 100%;
    padding: 50px 0;
}
.col-two h1{
   font-size: 50px; 
   margin: 25px 0;
   line-height: 50px;
   padding-top: 80px;
}
.btn{
    display: inline-block;
    background: #2a5ece;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: background 0.6s;
}
.btn:hover{
    background: #563434;
}
.contact-btn{
    display: inline-block;
    background: #dfc05a;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 30px 0;
    transition: background 0.6s;
}
.header{
    background:radial-gradient(#fff, #acc4f8);
}
.page-text{
    padding: 10px 10px 10px 0;
}
.middle-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.middle-text{
    margin: 50px auto;
}
.col-three{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 50px;
}
.col-three p{
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}
.col-three img{
    width: 100%;
}
.testimonial{
    padding-top: 80px;
}
.testimonial .col-three{
    padding: 40px 20px;
    text-align: center;
    transition: transform 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.testimonial .col-three h3{
    font-weight: 600;
    color: #555;
    font-size: 14px;
}
.testimonial .col-three img{
    width: 15%;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial .col-three:hover{
    transform: translateY(-10px);
}
.footer{
    background: #000;
    color: #555;
    width: 100%;
    padding: 40px 0 20px;
    position: relative;
    left: 0;
    bottom:0;
    font-size: 14px;
}
.footer p{
color: #8a8a8a;
font-size: 14px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
ul li{
    list-style-type: none;
    padding: 2px 0;
}
/* .footer hr{
    border: none;
    height: 1px;
    margin: 20px 0;
    color: #b5b5b5;
} */
.footer-col-one, .footer-col-two, .footer-col-three, .footer-col-four{
    min-width: 250px;
    margin-bottom: 20px;
}
 .footer-col-one{
    flex-basis: 30%;
 } 
 .footer-col-two{
    flex: 1;
    text-align: center;
 }  
 .footer-col-two img{
    width: 70px;
    margin-bottom: 20px;
 }
 .footer-col-three, .footer-col-four{
    flex-basis: 12%;
    text-align: center;
 }
 .logo-app{
    display: flex;
    margin-top: 20px;
 }
 .logo-app img{
    width: 140px;
 }
 .copyright{
    text-align: center;
    padding: 10px 0;
 }
 .fa.fa-quote-left{
    color: #acc4f8;
    font-size: 24px;
 }
 .rating .fa{
    color: #acc4f8;
 }
 .menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
 }

 /* --------contact us page----------- */
 /* form{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
} */
.form-class{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.contact-p{
    padding-bottom: 10px;
    text-align: center;
}
.contact-h1{
    text-align: center;
    font-weight: bolder;
    color: #555;
}
label{
    width: 200px;
    color:#563434;
}
input[type="text"]{
 padding: 15px 20px;
 border-radius: 8px; 
 border: none; 
 outline: none;
 background-color: white;
 font-size: 16px;
 font-weight: 600;
    border: 1px solid  #563434;
 align-items: center; 
 justify-content: center;
 justify-self: center;
}
textarea{
    border: 1px solid #563434;
    outline: none;
}

button{
    padding: 20px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #563434;
    margin-bottom: 30px;
    
}
button:hover{
   background-color: white;
    color: rgb(116, 113, 113);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #563434;
    color:#563434;
}
.textarea1{
    padding: 20px;
    border-radius: 8px;
}
.textarea:hover{
    outline: none;
}
/* --------media query for less than 8oopx screen size---------- */
 @media only screen and (max-width: 800px){
    nav ul{
        position:absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #000;
        color: #fff;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        /* margin: 10px 70px 10px 0; */
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-left: 0;
        /* text-align: center; */
        display: block;
    }
    nav ul li a{
        color: #fff;
        text-align: center;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 70px;
        
    } 
     .logo img{
        width: 40px;
    } 
    .col-two h1{
        margin-top: 50px;
        
        font-size: 40px;
    }
    
 }
 /* --------media query for less than 6oopx screen size---------- */
 @media only screen and (max-width: 600px){
    .row{
        text-align: center;
        width: 100%;
    }
 }
